<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<th:block th:fragment="normal-menu">
    <link th:href="@{/css/normal-menu.css}" rel="stylesheet" />
    <header class="top-bar con-min-width">
        <div class="con">
            <nav class="top-bar__menu-box-1">
                <ul>
                    <li>
                        <a href="#">menu1</a>
                        <ul>
                            <li><a href="#">text1</a></li>
                            <li><a href="#">text2</a></li>
                            <li><a href="#">text3</a></li>
                            <li><a href="#">text4</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="#">menu2</a>
                        <ul>
                            <li><a href="#">text1</a></li>
                            <li><a href="#">text2</a></li>
                            <li><a href="#">text3</a></li>
                            <li><a href="#">text4</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="#">menu3</a>
                        <ul>
                            <li><a href="#">text1</a></li>
                            <li><a href="#">text2</a></li>
                            <li><a href="#">text3</a></li>
                            <li><a href="#">text4</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="#">menu4</a>
                        <ul>
                            <li><a href="#">text1</a></li>
                            <li><a href="#">text2</a></li>
                            <li><a href="#">text3</a></li>
                            <li><a href="#">text4</a></li>
                        </ul>
                    </li>
                </ul>
            </nav>
        </div>
    </header>
</th:block>
</html>